<script>

    function startPlaying(name, url) {
        $.ajax({
            url: "/api/play",
            type: 'post',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({
                "name": name,
                "url": url
            }),
            success: function (data) {
                console.log(data);
            }
        });
    }

    function startPlayingLoop(name, url) {
        $.ajax({
            url: "/api/playLoop",
            type: 'post',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({
                "name": name,
                "url": url
            }),
            success: function (data) {
                console.log(data);
            }
        });
    }

    function stopPlayer() {
        $.ajax({
            url: "/api/stop",
            type: 'post',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
            }
        });
    }

    function togglePlayPlayer() {
        $.ajax({
            url: "/api/togglePlay",
            type: 'post',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
            }
        });
    }

    function mutePlayer() {
        $.ajax({
            url: "/api/mute",
            type: 'post',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
            }
        });
    }

    function unmutePlayer() {
        $.ajax({
            url: "/api/unmute",
            type: 'post',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
            }
        });
    }

</script>