

  <!-- Modal direct stream link -->
  <div class="modal fade" id="streamLink" tabindex="-1" role="dialog" aria-labelledby="streamLinkTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="streamLinkTitle">Stream link</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="stream_link" class="col-form-label">Stream:</label>
              <input type="text" class="form-control" id="stream_link">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="playStream();">Play</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      
    function playStream() {
      var modal = $('#streamLink')
      var url = modal.find("input#stream_link").val()

      startPlaying("Stream", url)
    }

    $('#streamLink').on('show.bs.modal', function (event) {
            var modal = $(this)
            
            modal.find("input#stream_link").val("")
    })

  </script>